*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:None;
    outline:None;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-color:#191f36;
    --snd-bf-color:#262840;
    --text-color:#fff;
    --main-colr:#5982F4;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
}
section{
    min-height:70vh;
    padding:10rem 9% 2rem;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    background: var(--bg-color);
    padding:2rem 9%;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
nav a{
    margin-left: 4rem;
    font-size:2.5rem ;
    font-weight: 800;
    color:var(--text-color);
}
nav a:hover,nav a.active{
    color:var(--main-colr)
}
#menu-icon{
    font-size:3.5rem;
    display:none;
    color:var(--text-color)
}
#home{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    color:var(--text-color);
}
.home-content h3:nth-of-type(2){
    margin-bottom:2rem;
}
span{
    color:var(--main-colr)
}
.home-content h1{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    width:18vw;
    animation: floatImage 4s ease-in-out infinite;
    border-width: 5px 2px blue;
    box-shadow:0 0 1rem blue;
}
@keyframes floatImage {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-2.4rem);
    }
    100%{
        transform:translateY(0);
    }
}
.home-content p{
    font-size:1.6rem;
}
.icons a{
    display: inline-block;
    width: 4rem;
    height:4rem;
    background: transparent;
    border:2rem var(--main-colr);
    color: var(--main-colr);
    border-radius: 50%;
    font-size: 3.6rem;
    margin:2.5rem 0.5rem;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons a:hover{
   background: var(--main-colr);
   color:var(--snd-bf-color);
   box-shadow:0 0 1rem var(--main-colr);
}
.btn{
    display:inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-colr);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-colr);
    color:var(--bg-color);
    font-size: 1.6rem;
    letter-spacing: 1px;
    transition: 5s ease;
}
.btn:hover{
    box-shadow: none;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--snd-bf-color);
    gap:6rem;
}
.about-img img{
    width:35vw;
}
h2{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
}
h3{
    font-size: 2.5rem;
}
.about-content p{
    font-size: 1.5rem;
    margin:2rem 0 3rem;
}
#service{
    margin:0 auto;
}
#service h2{
    font-size: 4.2rem;
    margin-bottom: 2rem;
}
#services-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

#services-container .service-box p,#services-container .service-box .btn{
    margin: 0.6rem;
}
#services-container .service-box{
    flex:1 1 30rem;
    background: var(--snd-bf-color);
    padding:4rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:1rem solid var(--bg-color);
}
#services-container .service-box h3{
    font-size: 2.4rem;
}
#services-container .service-box p{
    font-size: 1.6rem;
}
#services-container .service-box:hover{
    border-color: var(--main-colr);
    transform:scale(1.02);
}
#project{
    background: var(--snd-bf-color);
}
#project h2{
    margin-bottom: 4rem;
}
.project-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:2.5rem;
}
.project-container .project-box{
    position:relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow:hidden;
    display:flex;
}
.project-box img{
    width:100%;
    transition: .5s ease;
    opacity:.7;  
}
.project-box:hover img{
    transform:scale(1.1);
}
.project-box .project-layor{
    position:absoute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.1)var(--main-colr));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:0 4rem;
    transform:translateY(100%);
    transition:.5s ease;
}
.project-box:hover .project-layor{
    transform:translateY(0);
}
.project-layor h4{
    font-size:3rem;
}
.project-layor p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}
.project-layor a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.project-layor a i{
    font-size: 2rem;
    color:var(--snd-bf-color);
}
#contact{
    background: var(--snd-bf-color);
}
#contact h2{
    margin-bottom: 3rem;
}
#contact form{
    max-width:70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
#contact form .input-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#contact form .input-box input,#contact form textarea{
    width:100%;
    padding:1.5rem;
    font-size: 1.6rem;
    background: transparent;
    color:var(--text-color);
    border:2px solid black;
    border-radius: .8rem;
    margin:.7rem 0;
}
#contact form .input-box input{
    width:49%;

}
#contact form textarea{
    resize:none;
}
#contact form .btn{
    margin-top: 2rem;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem 9%;
    background: var(--bg-color);
}
.footer-text{
    font-size: 1.6rem;
}
.footer-iconTop{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:.8rem 1rem;
    background: var(--main-colr);
    border-radius: .8rem;
    transition:.5s ease;
    font-size: 2.5rem;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-colr);
}
@media(max-width:1200px){
    html{
        font-size:55%;
    }
}
@media(max-width:991px){
    header{
        padding:2rem 3%;
    }
    section{
        padding:10rem 3%;
    }
    .services{
        padding:7rem;
    }
    .project{
        border-bottom: 7rem;
    }
    .contact{
        min-height:auto;
    }
    footer{
        padding:2rem 3;
    }
}
@media(max-width:768px){
    .menu-icon{
        display:block;
    }
    .home{
        flex-direction:column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width:90vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width:90vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
}

